<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  bootstrap="../../core/tests/bootstrap.php"
  colors="true"
  beStrictAboutTestsThatDoNotTestAnything="true"
  beStrictAboutOutputDuringTests="true"
  beStrictAboutChangesToGlobalState="true"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
  cacheDirectory=".phpunit.cache"
>
  <php>
    <!-- Set error reporting to E_ALL. -->
    <ini name="error_reporting" value="32767"/>
    <!-- Do not limit the amount of memory tests take to run. -->
    <ini name="memory_limit" value="-1"/>
    <!-- To disable deprecation testing completely set SYMFONY_DEPRECATIONS_HELPER value: 'disabled' -->
    <!-- Will be removed in Open Social 12.0.0 -->
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
    <!-- End remove. -->
  </php>
  <testsuites>
    <testsuite name="kernel">
      <directory>/app/html/modules/yoast_seo/tests/src/Kernel</directory>
    </testsuite>
  </testsuites>
</phpunit>
